div.header {
    padding: 10px 0 20px 0;
}
div.header h1 {
    font-size: 26px;
    font-weight: 100;
    letter-spacing: -3px;
    padding: 12px 0 5px 10px;
}

div.header h1 a {
    color: #57626a;
    text-decoration: none;
}

div.header h1 a:hover {
    color: #57626a;
    text-decoration: none;
}

div.header h2 {
    color: #ccc;
    font-size: 15px;
    font-weight: 100;
    padding: 0 0 0 11px;
    letter-spacing: -1px;
    line-height: 12px;
}

